
{% extends "base.html" %}
{% load static %}
{% block content %}
<h2>Post Details</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <tr><th scope="row">Post Date</th><td>{{ object.post_date }}</td></tr>
    <tr><th scope="row">Post Type</th><td>{{ object.post_type }}</td></tr>
    <tr><th scope="row">Post Text</th><td>{{ object.post_text }}</td></tr>
    <tr><th scope="row">Post Image</th><td><img src="{{object.post_image.url}}"></td></tr>
    <tr><th scope="row">Last Updated</th><td>{{ object.last_updated }}</td></tr>
  </table>
</div>      

<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}