
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="row">
    <div class="col">
      <div class="row align-items-center mb-3">
        <div class="col-md-1">
          <label class="col-sm-2" for="datetime">Post Date Time</label>
        </div>
        <div class="col-md-11">
          <input class="form-control col-sm-10" id="datetime" type="datetime-local" name="datetime" value="{{ object.datetime }}" onchange="getThemes()">
        </div>
      </div>  
      <div class="row align-items-center mb-3">
        <div class="col-md-1">
          <label class="col-sm-2" >Post Theme</label>
        </div>
        <div class="col-md-11">
          <div class="alert alert-dark" role="alert" id="theme">Choose Date Time to Populate theme</div>
        </div>
      </div>
      <div class="row align-items-center mb-3">
        <div class="col-md-1">
          <label class="col-sm-2" >Post Theme Hashtag</label>
        </div>
        <div class="col-md-9">
          <div class="alert alert-dark" role="alert" id="theme_hasthag">Choose Date Time to Populate theme hashtag</div>  
        </div>
        <div class="col-md-1">
          <input type="checkbox" id="add_theme_hashtag_post" onclick="checkBoxClicked();">
        </div>
        <div class="col-md-1">
          <label class="form-check-label" for="add_french_post">Add</label>
        </div>  
      </div>
      <div class="row align-items-center mb-3">
        <div class="col-md-1">
          <label class="col-sm-2" for="post_type">Post Type</label>
        </div>
        <div class="col-md-11">
          <input class="form-control col-sm-10" id="post_type" type="text" name="post_type" value="{{ object.post_type }}">
        </div>
      </div>  
      <div class="row align-items-center mb-3">
        <div class="col-md-1">
          <label class="col-form-label" for="french">French</label>
        </div>
        <div class="col-md-9">
          <textarea class="form-control" id="french" type="text" name="french" value="{{ object.french }}"></textarea>
        </div>
        <div class="col-md-1">
          <input type="checkbox" id="add_french_post" onclick="checkBoxClicked();">
        </div>
        <div class="col-md-1 ml-auto">
          <label class="form-check-label" for="add_french_post">Add</label>
        </div>  
      </div>    
      <div class="row align-items-center mb-3">
        <div class="col-md-1">
          <label class="col-form-label" for="english">English</label>
        </div>
        <div class="col-md-9">
          <textarea class="form-control" id="english" type="text" name="english" value="{{ object.english }}"></textarea>
        </div>
        <div class="col-md-1">
          <input type="checkbox" id="add_english_post" onclick="checkBoxClicked();">
        </div>
        <div class="col-md-1 ml-auto">
          <label class="form-check-label" for="add_english_post">Add</label>
        </div>  
      </div>  
      <div class="row align-items-center mb-3">
        <div class="col-md-1">
          <label class="col-form-label" for="kirundi">Kirundi</label>
        </div>
        <div class="col-md-9">
          <textarea class="form-control" id="kirundi" type="text" name="kirundi" value="{{ object.kirundi }}"></textarea>
        </div>
        <div class="col-md-1">
          <input type="checkbox" id="add_kirundi_post" onclick="checkBoxClicked();">
        </div>
        <div class="col-md-1 ml-auto">
          <label class="form-check-label" for="add_kirundi_post">Add</label>
        </div>  
      </div>  
      <div class="row align-items-center mb-3">
        <div class="col-md-1">
          <label class="col-form-label" for="hashtag">Hashtag</label>
        </div>
        <div class="col-md-9">
          <textarea class="form-control" id="hashtag" type="text" name="hashtag" value="{{ object.hashtag }}" onkeydown="wordLimit()"></textarea>
          <div id="max_num_hashtag" class="form-text"></div>
        </div>
        <div class="col-md-1">
          <input type="checkbox" id="add_hashtag_post" onclick="checkBoxClicked();">
        </div>
        <div class="col-md-1 ml-auto">
          <label class="form-check-label" for="add_hashtag_post">Add</label>
        </div>  
      </div>    
    </div>
    <div class="col">
      <div class="card-body">
          <img src="/media/static/fbpost_head.jpg" class="card-img-top">
          <p class="card-text" id="post_text_card"></p>
          <img src="/media/static/emptypost.png"  class="card-img-top" id="show_post_image">
          <img src="/media/static/fbpost_bottom.jpg" class="card-img-top">
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="row align-items-center mb-3">
      <div class="col-md-1">
        <label class="col-sm-2" for="post_text">Final Post Text</label>
      </div>
      <div class="col-md-11">
        <textarea rows="5" class="form-control col-sm-10" id="post_text" type="text" name="post_text" value="{{ object.post_text }}"></textarea>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <input type="submit" value="Save" class="btn btn-primary">
  </div>
 
</form>
<script>
  var datetime = document.getElementById("datetime");
  var theme = document.getElementById("theme");
  var theme_hasthag = document.getElementById("theme_hasthag");
  var max_num_hashtag = document.getElementById("max_num_hashtag");
  var max_hashtags = 30;

  function wordLimit(){
    var words = hashtag.value.split(/\s+/);
    var numWords = words.length;
    if(numWords > max_hashtags){
      max_num_hashtag.style.color = "rgb(255,0,0)";
    }
  }  
  function getThemes() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if(xhttp.readyState === XMLHttpRequest.DONE) {
        var myObj = JSON.parse(this.response);
        theme.innerHTML = myObj[0]['theme'];
        theme_hasthag.innerHTML = myObj[0]['theme_hashtag'];
        max_hashtags = 30 - (myObj[0]['theme_hashtag'].split(/\s+/).length);
        max_num_hashtag.innerHTML = "You can add only " + max_hashtags + " Hashtags";
      }
    };
    xhttp.open("GET", "https://aeocb.herokuapp.com/core/api/v1/themes/?datetime=" + datetime.value, true);
    xhttp.send();
  }

  add_theme_hashtag_post = document.getElementById("add_theme_hashtag_post");
  add_french_post = document.getElementById("add_french_post");
  add_english_post = document.getElementById("add_english_post");
  add_kirundi_post = document.getElementById("add_kirundi_post");
  add_hashtag_post = document.getElementById("add_hashtag_post");

  theme_hasthag = document.getElementById("theme_hasthag");
  french = document.getElementById("french");
  english = document.getElementById("english");
  kirundi = document.getElementById("kirundi");
  hashtag = document.getElementById("hashtag"); 

  var final_post_text_French = "";
  var final_post_text_English = "";
  var final_post_text_Kirundi = "";
  var final_post_text_Hashtag = "";
  var final_post_text_Theme_Hashtag = "";

  var final_post_text = "";
  var final_post_hashtag = "";

  function checkBoxClicked(){
    if (add_theme_hashtag_post.checked){
      final_post_text_Theme_Hashtag = theme_hasthag.innerHTML;
    } else {
      final_post_text_Theme_Hashtag ="";
    }

    if (add_french_post.checked){
      final_post_text_French = french.value;
    } else {
      final_post_text_French = "";
    }
    
    if (add_english_post.checked){
      final_post_text_English = english.value;
    } else {
      final_post_text_English = "";
    }
    
    if (add_kirundi_post.checked){
      final_post_text_Kirundi = kirundi.value;
    } else {
      final_post_text_Kirundi = "";
    }
    
    if (add_hashtag_post.checked){
      final_post_text_Hashtag = hashtag.value;
    } else {
      final_post_text_Hashtag = "";
    }
    
    final_post_text = final_post_text_French + "\n" + final_post_text_English + "\n" + final_post_text_Kirundi;
    final_post_hashtag = final_post_text_Theme_Hashtag + "\n" + final_post_text_Hashtag;

    document.getElementById("post_text_card").innerHTML = final_post_text + "\n" + final_post_hashtag;
    document.getElementById("post_text").value = final_post_text + "\n" + final_post_hashtag;

  }
  </script>
{% endblock %}