
{% extends "base.html" %}
{% block content %}

<h2>Verses & Qoutes</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Post Date Time</th>
        <th>Post Type</th>
      </tr>
    </thead>
    <tbody>
{% for object in object_list %}
      <tr>
        <td><div><a href="{{object.get_absolute_url}}">{{object}}</a></div></td>
        <td>{{object.datetime}}</td>
        <td>{{object.post_type}}</td>
      </tr>
{% endfor %}
</tbody>
</table>
</div>
<div><a class="btn btn-primary" href="{% url 'core_post_create' %}">Create a new Verse or Qoute</a></div>
{% endblock %}
