
{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="row">
  <div class="col">
    <div class="row align-items-center mb-3">
      <div class="col-md-1">
        <label class="col-sm-2 col-form-label" for="datetime">Post Date</label>
      </div>
      <div class="col-md-11">
        <input class="form-control col-sm-10" id="datetime" type="text" name="datetime" value="{{ object.post.datetime }}"disabled>
      </div>
    </div> 
    <div class="row align-items-center mb-3">
      <div class="col-md-1">
        <label class="col-form-label" for="french">French</label>
      </div>
      <div class="col-md-9">
        <textarea class="form-control" id="french" type="text" name="french" disabled>{{ object.post.french }}</textarea>
      </div>
      <div class="col-md-1">
        <input type="checkbox" id="add_french_image" onclick="checkBoxClickedImage();">
      </div>
      <div class="col-md-1">
        <label class="form-check-label" for="add_french_image">Add</label>
      </div>  
    </div>
    <div class="row align-items-center mb-3">
      <div class="col-md-1">
        <label class="col-form-label" for="kirundi">Kirundi</label>
      </div>
      <div class="col-md-9">
        <textarea class="form-control" id="kirundi" type="text" name="kirundi" disabled>{{ object.post.kirundi }}</textarea>
      </div>
      <div class="col-md-1">
        <input type="checkbox" id="add_kirundi_image" onclick="checkBoxClickedImage();">
      </div>
      <div class="col-md-1">
        <label class="form-check-label" for="add_kirundi_image">Add</label>
      </div>  
    </div>    
  </div>        
  <div class="col">
    <div class="row align-items-center mb-3">
      <div class="col-md-1">
        <label class="col-sm-2 col-form-label" for="post_type">Post Type</label>
      </div>
      <div class="col-md-11">
        <input class="form-control col-sm-10" id="post_type" type="text" name="post_type" value="{{ object.post.post_type }}" disabled>
      </div>
    </div>      
    <div class="row align-items-center mb-3">
      <div class="col-md-1">
        <label class="col-form-label" for="english">English</label>
      </div>
      <div class="col-md-9">
        <textarea class="form-control" id="english" type="text" name="english" disabled>{{ object.post.english }}</textarea>
      </div>
      <div class="col-md-1">
        <input type="checkbox" id="add_english_image" onclick="checkBoxClickedImage();">
      </div>
      <div class="col-md-1">
        <label class="form-check-label" for="add_english_image">Add</label>
      </div>  
      </div>    
      <div class="row align-items-center mb-3">
        <div class="col-md-1">
          <label class="col-form-label" for="hashtag">Hashtag</label>
        </div>
        <div class="col-md-9">
          <textarea class="form-control" id="hashtag" type="text" name="hashtag" disabled>{{ object.post.hashtag }}</textarea>
        </div>
        <div class="col-md-1">
          <input type="checkbox" id="add_hashtag_image" onclick="checkBoxClickedImage();">
        </div>
        <div class="col-md-1">
          <label class="form-check-label" for="add_hashtag_image">Add</label>
        </div>  
      </div>
  </div>
  <form  method="post" action="/core/core/post_image/updateNew/{{object.id}}/" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.errors}}
    <input type="hidden" class="form-control" id="current_logo_width" name="current_logo_width" >
    <input type="hidden" class="form-control" id="current_logo_height" name="current_logo_height">
    <input type="hidden" class="form-control" id="current_image_width" name="current_image_width">
    <input type="hidden" class="form-control" id="current_image_height" name="current_image_height">
    <input type="hidden" value="{{ object.post.post_text }}" class="form-control" id="post_text_final" name="post_text_final">

    <div class="row align-items-center mb-3">
      <div class="col-md-1">
        <label class="col-sm-2 col-form-label" for="post_image">Post Image</label>
      </div>
      <div class="col-md-11">
        <input class="form-control col-sm-10" id="post_image" type="file" name="post_image" value="{{ object.post_image }}" onchange="loadFile(event)">
      </div>
    </div> 
    <div class="row">
      <div class="col">
        <h5>Text Control</h5>
        <div class = "row">
          <div class = "col">
            <label for="text_move_horizontal" class="form-label">Horizontal</label>
            <div class="row align-items-center">
              <div class="col-10">
                <input type="range" value ="0" class="form-range" min="0" max="1080" id="text_move_horizontal"> 
              </div>
              <div class="col-2">
                <input type="number" value="0" class="form-control" id="text_move_horizontal_input" name="text_move_horizontal_input" readonly>
              </div>
            </div>
          </div>
        </div>
        <div class = "row">
          <div class = "col">
            <label for="text_move_vertical" class="form-label">Vertical</label>
            <div class="row align-items-center">
              <div class="col-10">
                <input type="range" value ="0" class="form-range" min="0" max="1080" id="text_move_vertical"> 
              </div>
              <div class="col-2">
                <input type="number" value="0" class="form-control" id="text_move_vertical_input" name="text_move_vertical_input" readonly>
              </div>
            </div>
          </div>
        </div>

        <div class = "row">
          <div class = "col">
            <label for="text_font" class="form-label">Text Font</label>
            <div class="row align-items-center">
              <div class="col-10">
                  <select class="form-select" onchange="selectFont()" id="text_font" aria-label="Default select example">
                    <option value="Work Sans" selected>Work Sans</option>
                    <option value="Space Grotesk" >Space Grotesk</option>
                    <option value="Fira Sans">Fira Sans</option>
                  </select>              
              </div>
              <div class="col-2">
                <input type="text" value="WS" class="form-control" id="text_font_input" name="text_font_input" readonly>
              </div>
            </div>
          </div>
        </div>

     

        <div class = "row">
          <div class = "col">
            <label for="text_size" class="form-label">Text Size</label>
            <div class="row align-items-center">
              <div class="col-10">
                <input type="range" value ="0" class="form-range" min="8" max="100" id="text_size" > 
              </div>
              <div class="col-2">
                <input type="number" value="8" class="form-control" id="text_size_input" name="text_size_input" readonly>
              </div>
            </div>
          </div>
        </div>

        <div class = "row">
          <div class = "col">
            <label for="text_color" class="form-label">Text Color</label>
            <div class="row align-items-center">
              <div class="col-10">
                <input type="color" value="#ff0000" id="text_color" onchange="pickTextColor()" > 
              </div>
              <div class="col-2">
                <input type="text" value="rgb(255, 0, 0)" class="form-control" id="text_color_input" name="text_color_input" readonly>
              </div>
            </div>
          </div>
        </div>

        <h5>Logo Control</h5>

        <div class = "row">
          <div class = "col">
            <label for="logo_move_horizontal" class="form-label">Horizontal</label>
            <div class="row align-items-center">
              <div class="col-10">
                <input type="range" value ="0" class="form-range" min="0" max="1080" id="logo_move_horizontal"> 
              </div>
              <div class="col-2">
                <input type="number" value="0" class="form-control" id="logo_move_horizontal_input" name="logo_move_horizontal_input" readonly>
              </div>
            </div>
          </div>
        </div>
        <div class = "row">
          <div class = "col">
            <label for="logo_move_vertical" class="form-label">vertical</label>
            <div class="row align-items-center">
              <div class="col-10">
                <input type="range" value ="0" class="form-range" min="0" max="1080" id="logo_move_vertical"> 
              </div>
              <div class="col-2">
                <input type="number" value="0" class="form-control" id="logo_move_vertical_input" name="logo_move_vertical_input" readonly>
              </div>
            </div>
          </div>
        </div>


        <div class = "row">
          <div class = "col">
            <label for="logo_size" class="form-label">Size</label>
            <div class="row align-items-center">
              <div class="col-10">
                <input type="range" value ="50" class="form-range" min="0" max="100" id="logo_size"> 
              </div>
              <div class="col-2">
                <input type="number" value="50" class="form-control" id="logo_size_input" name="logo_size_input" readonly>
              </div>
            </div>
          </div>
        </div>        
      </div>
      <div class="col">
        <div class="card">
            <div class="card-body">
                <img src="/media/static/fbpost_head.jpg" class="card-img-top">
                <p class="card-text" id="post_text">{{ object.post.post_text }}</p>
            
                <div style="position: relative; left: 0; top: 0">
                    <p id="post_image_text" style="position: absolute;top: 0px;left: 0px;font-family: 'Work Sans';font-size: 8px;color:rgb(255,0,0)"></p>
                    <img src="/media/static/emptypost.png"  class="card-img-top" id="show_post_image">
                    <img src="/media/static/logo-aeocb.png" id="logo" style="position: absolute;top: 0px;left: 0px;width: 50%;height: 50%">
                </div>
                <img src="/media/static/fbpost_bottom.jpg" class="card-img-top">
            </div>
        </div>  
      </div>
    </div>
  <input type="submit" value="Save" class="btn btn-primary m-3">
</form>
<script>
  var slider_logo_horizontal = document.getElementById("logo_move_horizontal");
  var slider_logo_vertical = document.getElementById("logo_move_vertical");

  var slider_verse_horizontal = document.getElementById("text_move_horizontal");
  var slider_verse_vertical = document.getElementById("text_move_vertical");
  var logo = document.getElementById("logo");
    
  var verse_image_text = document.getElementById("post_image_text");
  var text_font = document.getElementById("text_font");
  var text_move_horizontal_input = document.getElementById("text_move_horizontal_input");
  var text_move_vertical_input = document.getElementById("text_move_vertical_input");
  var text_font_input = document.getElementById("text_font_input");
  var text_size_input = document.getElementById("text_size_input");
  var logo_move_horizontal_input = document.getElementById("logo_move_horizontal_input");
  var logo_move_vertical_input = document.getElementById("logo_move_vertical_input");
  var logo_size_input = document.getElementById("logo_size_input");


  var current_logo_width = document.getElementById("current_logo_width");
  var current_logo_height = document.getElementById("current_logo_height");
  var current_image_width = document.getElementById("current_image_width");
  var current_image_height = document.getElementById("current_image_height");
  
  add_french_image = document.getElementById("add_french_image");
  add_english_image = document.getElementById("add_english_image");
  add_kirundi_image = document.getElementById("add_kirundi_image");
  add_hashtag_image = document.getElementById("add_hashtag_image");

  french = document.getElementById("french");
  english = document.getElementById("english");
  kirundi = document.getElementById("kirundi");
  hashtag = document.getElementById("hashtag"); 

  var final_image_text_French = "";
  var final_image_text_English = "";
  var final_image_text_Kirundi = "";
  var final_image_text_Hashtag = "";

  var final_image_text = "";
  var final_image_hashtag = "";

  var post_text_final = document.getElementById("post_text_final");

  function checkBoxClickedImage(){

    if (add_french_image.checked){
      final_image_text_French = french.innerHTML;
    } else {
      final_image_text_French = "";
    }
    
    if (add_english_image.checked){
      final_image_text_English = english.innerHTML;
    } else {
      final_image_text_English = "";
    }
    
    if (add_kirundi_image.checked){
      final_image_text_Kirundi = kirundi.innerHTML;
    } else {
      final_image_text_Kirundi = "";
    }
    
    if (add_hashtag_image.checked){
      final_image_text_Hashtag = hashtag.innerHTML;
    } else {
      final_image_text_Hashtag = "";
    }
    
    final_image_text = final_image_text_French + "\n" + final_image_text_English + "\n" + final_image_text_Kirundi;
    final_image_hashtag = final_image_text_Hashtag;

    document.getElementById("post_image_text").innerHTML = final_image_text + "\n" + final_image_hashtag;
    post_text_final.value = final_image_text + "\n" + final_image_hashtag;
  }
    var loadFile = function(event) {
        var show_post_image = document.getElementById('show_post_image');
        show_post_image.src = URL.createObjectURL(event.target.files[0]);
        console.log(show_post_image.width)
        console.log(show_post_image.height)
        slider_logo_vertical.max = show_post_image.height;
        slider_verse_vertical.max = show_post_image.height;
        slider_logo_horizontal.max = show_post_image.width;
        slider_verse_horizontal.max = show_post_image.width;        
        current_logo_width.value = logo.width;
        current_logo_height.value = logo.height;
        current_image_width.value = show_post_image.width;
        current_image_height.value = show_post_image.height;
    };


    function PageLoadFunction(){
        var show_post_image = document.getElementById("show_post_image");
        slider_logo_vertical.max = show_post_image.height;
        slider_verse_vertical.max = show_post_image.height;
        slider_logo_horizontal.max = show_post_image.width;
        slider_verse_horizontal.max = show_post_image.width;
        current_logo_width.value = logo.width;
        current_logo_height.value = logo.height;
        current_image_width.value = show_post_image.width;
        current_image_height.value = show_post_image.height;
    }
    
    slider_logo_horizontal.oninput = function() {
        if (this.value>logo.width){
          logo.style.left = (this.value-logo.width) + "px";
        }else{
          logo.style.left = this.value + "px";
        }
        logo_move_horizontal_input.value = this.value;
    }
    
    slider_logo_vertical.oninput = function() {
        
        if (this.value>logo.height){
          logo.style.top = (this.value-logo.height) + "px";
        }else{
          logo.style.top = this.value + "px";
        }        
        logo_move_vertical_input.value = this.value;
    }    
    
    slider_verse_horizontal.oninput = function() {
        verse_image_text.style.left = this.value + "px";
        text_move_horizontal_input.value = this.value;
    }
    
    slider_verse_vertical.oninput = function() {
        verse_image_text.style.top = this.value + "px";
        text_move_vertical_input.value = this.value;
    }      

    var slider_text_size = document.getElementById("text_size");

    text_size.oninput = function (){
        post_image_text.style.fontSize = this.value + "px";
        text_size_input.value = this.value;
    }
    
    var logo_size = document.getElementById("logo_size");
    var logo = document.getElementById("logo");

    logo_size.oninput = function (){
        logo.style.width = this.value + "%";
        logo.style.height = this.value + "%";
        logo_size_input.value = this.value;
    }

    function selectFont(){
      post_image_text.style.fontFamily  = text_font.value;
      text_font_input.value = text_font.value;
    }
    function workSansClick(){
        post_image_text.style.fontFamily  = "Work Sans";
        text_font_input.value = "WS";
    }
    function spaceGroteskClick(){
        post_image_text.style.fontFamily  = "Space Grotesk";
        text_font_input.value = "SG";
    }
    function firaSansClick(){
        post_image_text.style.fontFamily  = "Fira Sans";
        text_font_input.value = "FS";
    }      

    var text_color = document.getElementById("text_color");
    var text_color_input = document.getElementById("text_color_input");
    function pickTextColor(){
      var hex_code = text_color.value.split("");
      var r = parseInt(hex_code[1]+hex_code[2],16);
      var g = parseInt(hex_code[3]+hex_code[4],16);
      var b = parseInt(hex_code[5]+hex_code[6],16);
      text_color_input.value = "rgb(" + r + ", " + g + ", " + b + ")";
      post_image_text.style.color = "rgb(" + r + ", " + g + ", " + b + ")";
    }    
  
  </script>
{% endblock %}