
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<table class="table">
    <tr><td>Pot Date & Time</td><td>{{ object.post.datetime }}</td></tr>
    <tr><td>Post Type</td><td>{{ object.post.post_type }}</td></tr>
    <tr><td>Post Text</td><td>{{ object.post.post_text }}</td></tr>        
    <tr><td>Post Image</td><td><img src="{{object.get_photo_url}}"></td></tr>
    <tr><td>Last Updated</td><td>{{ object.last_updated }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}