
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<h2>Create New Theme</h2>    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}

  <form>
    <div class="form-group">
      <label class="col-sm-2 col-form-label" for="theme">Theme: </label>
      <input class="form-control col-sm-10" id="theme" type="text" name="theme" value="{{ object.theme }}">
    </div>
    <div class="form-group">
      <label class="col-sm-2 col-form-label" for="theme_from_date">theme_from_date: </label>
      <input class="form-control col-sm-10" id="theme_from_date" type="date" name="theme_from_date" value="{{ object.theme_from_date }}">
    </div>
    <div class="form-group">
      <label class="col-sm-2 col-form-label" for="theme_to_date">theme_to_date: </label>
      <input class="form-control col-sm-10" id="theme_to_date" type="date" name="theme_to_date" value="{{ object.theme_to_date }}">
    </div>
    <div class="form-group">
      <label class="col-sm-2 col-form-label" for="theme_hashtag">Theme Hashtag: </label>
      <input class="form-control col-sm-10" id="theme_hashtag" type="text" name="theme_hashtag" value="{{ object.theme_hashtag }}">
    </div>
    <div class="form-group">
      <button type="submit" value="Save" class="btn btn-primary">Save</button>
    </div>
    
  </form>

</form>

{% endblock %}