
{% extends "base.html" %}
{% load static %}
{% block content %}

<h2>Themes Details</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <tr><th scope="row">Theme</th><td>{{ object.theme }}</td></tr>
    <tr><th scope="row">Theme Month</th><td>{{ object.theme_month | date:'M - Y' }}</td></tr>
    <tr><th scope="row">Theme Hashtag</th><td>{{ object.theme_hashtag }}</td></tr>
    <tr><th scope="row">Last Updated</th><td>{{ object.last_updated }}</td></tr>
  </table>
</div>
    

<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}