
{% extends "base.html" %}
{% block content %}
<h2>Themes</h2>
<div class="table-responsive p-2">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Theme From Date</th>
        <th>Theme To Date</th>
        <th>Theme</th>
      </tr>
    </thead>
    <tbody>
{% for object in object_list %}
      <tr>
        <td><div><a href="{{object.get_absolute_url}}">{{object}}</a></div></td>
        <td>{{object.theme_from_date}}</td>
        <td>{{object.theme_to_date}}</td>
        <td>{{object.theme}}</td>
      </tr>
{% endfor %}
</tbody>
</table>
</div>
<div><a class="btn btn-primary" href="{% url 'core_theme_create' %}">Create a new theme</a></div>
{% endblock %}
